@import url(https://fonts.googleapis.com/css?family=Orbitron);

html {
  background: #550703;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: #550703;
}

.gif {
  background: url("img/tumblr_mbha9qWF401qcixnko4_500.gif");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: fadeOut 10s infinite;
  -moz-animation: fadeOut 10s infinite;
  animation: fadeOut 10s infinite;
}

.wrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.marvel {
  /* border: solid 1px #fff; */
  padding: 20px 10px 0 0;
  animation: zoomOut 9s ease-in-out infinite;
  -webkit-animation: zoomOut 9s ease-in-out infinite;
  margin: auto auto;
  text-align: center;
  color: #fff;
  width: 670px;
  margin-top: 50px;
  font-size: 10em;
  line-height: 0.8;
  font-family: "thunderboltRegular", sans-serif;
}

@font-face {
  font-family: "thunderboltRegular";
  src: url("thunderbolt-font/ThunderboltRegular-8MV8M.ttf") format("eot");
  src: url("thunderbolt-font/ThunderboltRegular-BWVBB.otf") format("woff"),
    url("thunderbolt-font/ThunderboltRegular-8MV8M.ttf") format("truetype");
}

@keyframes zoomOut {
  0% {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* button code  */

.glow-on-hover {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  color: #fff;
  font-weight: bold;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-top: 150px;
  border-radius: 10px;
  left: 38%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #b8b50f, #2b700f);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/tumblr_mbha9qWF401qcixnko4_500.gif);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
